/*------Home Page------*/

a {
	text-decoration: none;
}

/*nav*/

.logo {
	margin:0 auto;
	display:block;
}

.login {
text-align:center;
}

.search {
	width:100%;
	padding-left:0.5em;
	max-width:10em;
}

.search:focus {
	outline:none;
}

.navbar {
	list-style-type:none;
	text-align:center;
}

nav {
	background-color:grey;
}

nav a {
	width:100%;
	display:block;
}

nav a:hover {
	background-color:lightgrey;
}

nav a:active {
	background-color:white;
}

nav a:focus {
	outline:none;
}

/*Header Image*/

.back-img {
	background-color:lightgrey;
	background-image:url("http://placehold.it/500x500");
	background-size:cover;
	background-repeat:no-repeat;
	background-position: center;
	height:20em;
}

/*Button*/

.btn {
	background-color:darkgrey;
	border-radius:50px;
	max-width:12.500em;
}

/*Tour*/


@media only screen and (min-width: 15em) {


}

/*Footer*/

.social {
	margin: 0 auto;
}

.social img {
	width: 85%;
	max-width: 3em;
	margin: 0 auto;
	display: block;
}

/* (Whatever the class is) a:active {
 	background-color:;
 }
*/

@media only screen and (min-width: 37.5em) {
.logo {
	width: 10vw;
	max-width: 4em;
}

.login-btn {
	text-align: right;
	margin: 2.5em 2em 0 0;
	display:block;
}

.bucket {
	width: calc(100% - 1em);
}

}

.bucket  {
	width: calc(100% - 0.5em);
	margin:0 auto;
	display: block;
}

@media only screen and (min-width: 60em) {

}
