/*------Home Page------*/

a {
	text-decoration: none;
}

/*nav*/

.logo {
	margin:0 auto;
	display:block;
}

.login {
text-align:center;
}

.search {
	width:100%;
	padding-left:0.5em;
	max-width:10em;
}

.navbar {
	list-style-type:none;
	text-align:center;
}

nav a {
	width:100%;
	display:block;
}

nav a:hover {
	background-color:#FEDDBA;
	transition: all 0.3s ease 0s;

}

nav a:active {
	background-color:white;
}

nav a:focus {
	outline:none;
}

input[type=text], input[type=password], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(244, 125, 85, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(244, 125, 85, 1);
}

/*Links & Navigation*/

nav .current {
	border:2px solid #F47D55;
}

a:visited {
	color:black;
}

.navhover {
	color:#F47D55;
}

/*Body Text*/

.pwidth {
	max-width:25em;
}

/*Header Image*/

.back-img {
	background-image:url("../img/xs-billboard.jpg");
	background-size: cover;
	background-repeat:no-repeat;
	background-position: center;
}

/*Buttons*/

.btn {
	background-color:#F47D55;
	border-radius:50px;
	max-width:12.500em;
	display:block;
	margin:0 auto;
	transition: all 0.3s ease 0s;
}

.btn:hover {
  background-color: #FAA95E;
}

.btn:active {
border:0;
box-shadow:#F47D55;
}

.submit-btn {
	margin-top:1em;
}

/*Tour*/
.img-size {
	width:50%;
}

.img-size img {
	width:100%;
}

/*Payment*/

input {
	width:100%;
}

.small-width {
	width:70%;
	text-align:center;
}

.card-width {
	max-width:23.5em;
}

.info-form {
	max-width:30em;
	margin: 0 auto;
}

/*Footer*/

.social {
	margin: 0 auto;
}

.social img {
	width: 85%;
	max-width: 3em;
	margin: 0 auto;
	display: block;
}


/*Colours*/

.lighttone {
	color: #FEDDBA;
}

.black-back {
	background-color: #3A3335;
}

.orange {
	color: #F47D55;
}

.white {
	color:white;
}

.gradient {
	background-color:white;
	background: -webkit-linear-gradient(white, #FEDDBA);
}

h1 {
	color:#F47D55;
}


/*Typography*/

.quicksand {
	font-family: 'Quicksand', sans-serif;
}

.lobster {
	font-family: 'Lobster', cursive;
}

p {
	font-family: 'Quicksand', sans-serif;
}

h2 {
	font-family: 'Quicksand', sans-serif;
	color:#F47D55;
	font-style: bold;
}

h3 {
	color: #3A3335;
}

/*Graphic*/

.graphic {
	width: calc(100% - 2em);
	max-width: 15em;
	margin:0 auto;
	display: block;
}

footer a:hover {
	color:white;
}

footer a {
	color:#FEDDBA;
}


@media only screen and (min-width: 15em) {

	.img-size {
		width: 60%;
		position:relative;
		left:20%;
		max-width: 15em;
	}

}

@media only screen and (min-width: 20em) {

.back-img {
	background-image:url("../img/xs-billboard.jpg");
	background-size: 100% auto;
	background-repeat:no-repeat;
	background-position: center;
}

}

/* (Whatever the class is) a:active {
 	background-color:;
 }
*/

@media only screen and (min-width: 28.313em) {

	.img-size {
		position:static;
	}
}

@media only screen and (min-width: 38em) {
	.logo {
		width: 10vw;
		max-width: 4em;
	}

	.login-btn {
		text-align: right;
		margin: 2.5em 2em 0 0;
		display:block;
	}

	.bucket  {
		width: calc(100% - 0.5em);
		margin:0 auto;
		display: block;
	}

.img-size {
	width:50%;
}

.img-size img {
	width:100%;
}

	/*Header Image*/

	.back-img {
		background-image:url("../img/large-billboard2.jpg");
		background-size: 120% auto;
		background-repeat:no-repeat;
		background-position: center;
	}
}

@media only screen and (min-width: 60em) {

}
