/*------Home Page------*/

a {
	text-decoration: none;
}

/*nav*/

.logo {
	margin:0 auto;
	display:block;
}

.login {
text-align:center;
}

.search {
	width:100%;
	padding-left:0.5em;
	max-width:10em;
}

.search:focus {
	outline:none;
}

.navbar {
	list-style-type:none;
	text-align:center;
}

nav {
	background-color:grey;
}

nav a {
	width:100%;
	display:block;
}

nav a:hover {
	background-color:grey;
}

nav a:active {
	background-color:white;
}

nav a:focus {
	outline:none;
}

/*Header Image*/

.back-img {
	background-color:lightgrey;
	background-image:url("http://placehold.it/500x500");
	background-size:cover;
	background-repeat:no-repeat;
	background-position: center;
	height:20em;
}

/*Button*/

.btn {
	background-color:darkgrey;
	border-radius:50px;
	max-width:12.500em;
}

/*Tour*/


@media only screen and (min-width: 15em) {


}

/*Footer*/

.social {}

/* (Whatever the class is) a:active {
 	background-color:;
 }
*/
